*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,#2e8b57,#a8d5b7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3435;
    font-family: sans-serif;
}

.container{
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: 0 12px 24px rgba(0,0,0,0.5);
}

h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.5;
    color: #1a202c;
}

h2{
    margin-bottom: 1rem;
    color: #2d3435;
    font-weight: 500;
}

.balance-container{
    background: linear-gradient(135deg,#2e8b57,#a8d5b7);
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.balance-container h1{
    font-size: 3rem;
    margin: 15px 0 ;
}

.summary{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 1.5rem;
    gap: 20px;
}

.income,.expense{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: all .2s ease;
}

.income:hover,
.expense:hover{
    transform: translateY(-2px);
}

.income h3{
    color: #059669;
    font-weight: 500;
}
.expense h3{
    color: #dc2626;
    font-weight: 500;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.income p,
.expense p{
    font-weight: 600;
    margin-top: 10px;
    font-size: 1.1rem;
}

.income p{
    color: #059669;
}

.expense p{
    color: #dc2626;
}

.transaction-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

#transaction-list{
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding-right: 8px;
    flex-grow: 1;
}

#transaction-list::-webkit-scrollbar{
    width: 8px;
}
#transaction-list::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 4px;
}
#transaction-list::-webkit-scrollbar-thumb{
    background-color: #cbd5e0;
    border-radius: 4px;
}

#transaction-list::-webkit-scrollbar-thumb:hover{
    background-color: #a0aec0;
}

.Transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding:1rem 1.2rem;
    border-radius: 10px;
    border-right: 5px solid ;
    box-shadow: 3px 2px 4px rgba(0,0,0,0.2);
    transition: all .2s ease;
    animation: slideIn .3s ease;
}

.Transaction.income{
    border-right-color: #059669;
}

.Transaction.expense{
    border-right-color: #dc2626;
}

.Transaction:hover{
    transform: translateX(3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-20px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.Transaction .delete-btn{
    background: none;
    border: none;
    background-color: #dc2626;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 4px 8px;
    opacity: 0;
    transform: all .2s ease;
    border-radius: 4px;
    margin-left: 12px;
}

.Transaction:hover .delete-btn {
    opacity: 1;
}

.Transaction .delete-btn{
    background-color: #fee2fe;
    transform: scale(1.1);
}

.form-container{
    background: linear-gradient(135deg,#f6f8fb,#f1f4f8);
    padding: 1.5rem;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    /* display: flex;
    flex-direction: column; */
}

#Transaction-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    color: #4a5568;
}

input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #e2e8f0;
    transition: all .2s ease;
}

input:focus{
    outline: none;
    border-color: #667eea;

}

input:hover{
    border-color:#bdc5e0;
}

small{
    color: #718096;
    margin-top: 4px;
    display: block;
}

button[type="submit"]{
    width: 100%;
    padding: .5rem;
    border-radius: .2rem;
    border: none;
    background: linear-gradient(135deg,#2e8b57,#3cb371);
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: all .2s ease;
    box-shadow: 0 0 4 12px rgba(102,126,234,0.2);
}

button[type="submit"]:hover{
    transform: translateY(-2px);
}
button[type="submit"]:active{
    transform: translateY(0)
}







